<% obj.each do |post| %>
    <div class="col-lg-12">
        <div class="post">
            <div class="row data">
                <div class="col-lg-1">
                	<img class="owner-pic" src="http://rumahfile.com/file/profile/default.jpg">
                </div>
                <div class="col-lg-11">
                    <%= link_to post.user.full_name, user_path(post.user) %></br>
                    <small><%= time_ago_in_words(post.created_at) %> ago</small>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <%= post.content %>
                </div>
            </div>

            <div class="separator"></div>
            
            <small>
                <%= pluralize(post.votes_for.size, 'person') %> likes this.
            </small>
            
            <div class="separator"></div>
            
            <div class="actions">
                <%= link_to(like_post_path(post), method: :put) do %>
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 
                    <%= post.votes_for.size %></br>
                <% end %>
            </div>
        </div>
    </div>
<% end %>